<center>
  <div style="font-family: Montserrat, sans-serif;font-weight:700;font-size:19px;margin:20px 0;">
    Ways To Connect
  </div>

  <div class="SocialBar-items ways-to-connect">
    <a class="SocialLink black_bg gtm_share" rel="noreferrer" title="First Coast Connect's Email Address" href="mailto:firstcoastconnect@wjct.org" target="_blank" data-social-service="email" data-platform="email">
      <img src="https://mcusercontent.com/9f07e48069862b5bef898136a/images/dbd78b02-aeb1-d5b6-58a5-165ba570791f.png" alt="email" />
      <span class="sr-only">email</span>
    </a>

    <a class="SocialLink gtm_share" rel="noreferrer" title="First Coast Connect on Facebook" href="https://www.facebook.com/fcconair" target="_blank" data-social-service="facebook" data-platform="facebook">
      <img src="https://mcusercontent.com/9f07e48069862b5bef898136a/images/e080bebc-9640-1295-d67e-ab846653468d.png" alt="facebook" />
      <span class="sr-only">facebook</span>
    </a>

    <a class="SocialLink gtm_share" rel="noreferrer" title="First Coast Connect on Instagram" href="https://www.instagram.com/fcconair" target="_blank" data-social-service="instagram" data-platform="instagram">
      <img src="https://mcusercontent.com/9f07e48069862b5bef898136a/images/6275f959-ad90-8c3d-69bb-d7734cf1a2e1.png" alt="instagram" />
      <span class="sr-only">instagram</span>
    </a>

    <a class="SocialLink gtm_share" rel="noreferrer" title="First Coast Connect on Twitter" href="https://x.com/FCConair" target="_blank" data-social-service="twitter" data-platform="twitter">
      <img src="https://mcusercontent.com/9f07e48069862b5bef898136a/images/36a58e22-1f9c-eca1-b90a-906113d72cd3.png" alt="twitter" />
      <span class="sr-only">twitter</span>
    </a>

    <a class="SocialLink gtm_share" rel="noreferrer" title="First Coast Connect on YouTube" href="https://www.youtube.com/playlist?list=PL5u5JdpaC8zy4jaXXw1O9qqk0IkRG_jU4" target="_blank" data-social-service="youtube" data-platform="youtube">
      <img src="https://mcusercontent.com/9f07e48069862b5bef898136a/images/df41d405-7dc4-7c7a-b26d-de06de927232.png" alt="youtube" />
      <span class="sr-only">youtube</span>
    </a>
  </div>

<div style="font-family: Montserrat, sans-serif;font-weight:700;font-size:19px;margin:20px 0;">Subscribe to the Podcast</div>

  <div class="SocialBar-items ways-to-connect">

    <a class="PodcastLink gtm_share" rel="noreferrer" title="Apple Podcasts" href="https://podcasts.apple.com/us/podcast/first-coast-connect/id955923243" target="_blank" data-social-service="apple_podcasts" data-platform="apple_podcasts">
      <img src="APPLE_PODCASTS_URL_HERE" alt="Apple Podcasts" />
      <span class="sr-only">Apple Podcasts</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="Amazon Music" href="https://music.amazon.com/podcasts/bed39e0d-5d32-4443-a676-1786176eeb3b/first-coast-connect" target="_blank" data-social-service="amazon_music" data-platform="amazon_music">
      <img src="AMAZON_MUSIC_URL_HERE" alt="Amazon Music" />
      <span class="sr-only">Amazon Music</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="NPR" href="https://www.npr.org/podcasts/381443735/first-coast-connect" target="_blank" data-social-service="npr" data-platform="npr">
      <img src="NPR_URL_HERE" alt="NPR" />
      <span class="sr-only">NPR</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="YouTube Podcasts" href="https://www.youtube.com/playlist?list=PL5u5JdpaC8zy4jaXXw1O9qqk0IkRG_jU4" target="_blank" data-social-service="youtube" data-platform="youtube">
      <img src="https://mcusercontent.com/9f07e48069862b5bef898136a/images/60b1b337-c4d7-6eba-b572-4f92a437e1ea.png" alt="YouTube Podcasts" />
      <span class="sr-only">YouTube Podcasts</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="Spotify" href="https://open.spotify.com/show/3ue3AA8qLi9emrvUplFEAm" target="_blank" data-social-service="spotify" data-platform="spotify">
      <img src="SPOTIFY_URL_HERE" alt="Spotify" />
      <span class="sr-only">Spotify</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="Overcast" href="https://overcast.fm/itunes955923243/" target="_blank" data-social-service="overcast" data-platform="overcast">
      <img src="OVERCAST_URL_HERE" alt="Overcast" />
      <span class="sr-only">Overcast</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="Pocket Casts" href="https://pocketcasts.com/podcast/first-coast-connect/a455f640-8faa-0132-ecdb-5f4c86fd3263" target="_blank" data-social-service="pocketcasts" data-platform="pocketcasts">
      <img src="POCKETCASTS_URL_HERE" alt="Pocket Casts" />
      <span class="sr-only">Pocket Casts</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="iHeartRadio" href="https://www.iheart.com/podcast/256-first-coast-connect-30962728" target="_blank" data-social-service="iheartradio" data-platform="iheartradio">
      <img src="IHEARTRADIO_URL_HERE" alt="iHeartRadio" />
      <span class="sr-only">iHeartRadio</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="TuneIn" href="https://tunein.com/podcasts/Current-Affairs/First-Coast-Connect-p116931/" target="_blank" data-social-service="tunein" data-platform="tunein">
      <img src="TUNEIN_URL_HERE" alt="TuneIn" />
      <span class="sr-only">TuneIn</span>
    </a>

    <a class="PodcastLink gtm_share" rel="noreferrer" title="RSS" href="https://news.wjct.org/podcast/first-coast-connect/rss.xml" target="_blank" data-social-service="rss" data-platform="rss">
      <img src="RSS_URL_HERE" alt="RSS" />
      <span class="sr-only">RSS</span>
    </a>

  </div>
</center>
